body {
    animation: content-apperance 0.8s ease-in-out;
}

.home-bg-1 {
    opacity: 0;
    background: linear-gradient(#000000cc, #00000000, #000000cc), linear-gradient(90deg, #00000000, #00000000, #000000b3), url(../image/home/background-home-1.jpg);
    animation: home-bg-1 50s ease-in-out infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.home-bg-2 {
    opacity: 0;
    background: linear-gradient(#000000cc, #00000000, #000000cc), linear-gradient(90deg, #00000000, #00000000, #000000b3), url(../image/home/background-home-2.jpg);
    animation: home-bg-2 50s ease-in-out infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.home-bg-3 {
    opacity: 0;
    background: linear-gradient(#000000cc, #00000000, #000000cc), linear-gradient(90deg, #00000000, #00000000, #000000b3), url(../image/home/background-home-3.jpg);
    animation: home-bg-3 50s ease-in-out infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home-bg-4 {
    background: linear-gradient(#000000cc, #00000000, #000000cc), linear-gradient(90deg, #00000000, #00000000, #000000b3), url(../image/home/background-home-4.jpg);
    animation: home-bg-4 50s ease-in-out infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes content-apperance {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes home-bg-1 
{
    0% {
        opacity: 0;
    }
    2% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    23% {
        opacity: 0;
    }
}

@keyframes home-bg-2
{
    23% {
        opacity: 0;
    }
    24% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    47% {
        opacity: 0;
    }
}

@keyframes home-bg-3 
{
    47% {
        opacity: 0;
    }
    48% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    72% {
        opacity: 0;
    }
}

@keyframes home-bg-4 
{
    72% {
        opacity: 0;
    }
    73% {
        opacity: 1;

    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}