.home-bg-1 {
    opacity: 0;
    background: linear-gradient(#000000cc, #00000000, #000000cc), linear-gradient(90deg, #00000000, #00000000, #000000b3), url(../image/home/background-home-1.jpg);
    animation: home-bg-1 50s ease-in-out infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.home-bg-2 {
    opacity: 0;
    background: linear-gradient(#000000cc, #00000000, #000000cc), linear-gradient(90deg, #00000000, #00000000, #000000b3), url(../image/home/background-home-2.jpg);
    animation: home-bg-2 50s ease-in-out infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.home-bg-3 {
    opacity: 0;
    background: linear-gradient(#000000cc, #00000000, #000000cc), linear-gradient(90deg, #00000000, #00000000, #000000b3), url(../image/home/background-home-3.jpg);
    animation: home-bg-3 50s ease-in-out infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home-bg-4 {
    background: linear-gradient(#000000cc, #00000000, #000000cc), linear-gradient(90deg, #00000000, #00000000, #000000b3), url(../image/home/background-home-4.jpg);
    animation: home-bg-4 50s ease-in-out infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.button-bg-1 {
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    background: linear-gradient(#000000cc, #00000000, #000000cc), url(../image/home/background-button-1.jpg);
    animation: home-bg-1 50s ease-in-out infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.button-bg-2 {
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    background: linear-gradient(#000000cc, #00000000, #000000cc), url(../image/home/background-button-2.jpg);
    animation: home-bg-2 50s ease-in-out infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.button-bg-3 {
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    background: linear-gradient(#000000cc, #00000000, #000000cc), url(../image/home/background-button-3.jpg);
    animation: home-bg-3 50s ease-in-out infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.button-bg-4 {
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    background: linear-gradient(#000000cc, #00000000, #000000cc), url(../image/home/background-button-4.jpg);
    animation: home-bg-4 50s ease-in-out infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes home-bg-1 
{
    0% {
        opacity: 0;
    }
    2% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    23% {
        opacity: 0;
    }
}

@keyframes home-bg-2
{
    23% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    47% {
        opacity: 0;
    }
}

@keyframes home-bg-3 
{
    47% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    72% {
        opacity: 0;
    }
}

@keyframes home-bg-4 
{
    72% {
        opacity: 0;
    }
    75% {
        opacity: 1;

    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}