@media (min-width: 768px) 
{   
    .intro__block-inner
    {
        padding: 0px 2vh;
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 80% 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          ". ."
          "button content";
        .intro__block-button {
            grid-area: button;
        }
        .intro__block-content {
            grid-area: content;
        }
    }
}

@media (max-width: 767px) 
{
    .intro__block
    {
        margin-top: 10vh;
        &-button {
            margin-top: 10vh;
        }
    }

}

