@import "reset.scss";
@import "fonts.scss";
@import "variables.scss";
@import "templates.scss";
@import "media.scss";
@import "animations.scss";

.header__content {
    width: 100%;
    height: 8vh;
    &-container {
        @extend %tplWrapper;
        padding-top: 2vh;
        @include flexBox(space-between, center, none);
    }  
    &-logo {
        @include flexBox(center, center, none);
        .logo {
            display: block;
            height: calc(2vh + 2vw);
            width:  calc(2vh + 2vw);
        }
    }
    &-menu {
        height: 100%;
        @include flexBox(flex-end, center, none);
        .menu__body {
            height: 100%;
            .menu__list {
                @include flexBox(none, center, none);
                height: 100%;
                > *:not(:last-child) {
                    margin-right: 2vw;
                }
                .menu__list-item {
                    @include flexBox(none, center, none);
                    height: 100%;
                    position: relative;
                    &.inactive {
                        &::after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 0.3vh;
                            transition: 0.3s ease-in-out;
                            opacity: 0;
                        }
                    }
                    &.inactive:hover::after {
                        background: $undrlineClr;
                        opacity: 1;
                    }
                    &.active {
                        position: relative;
                        &::after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 0.3vh;
                            background: $bgClrExtra;
                        }
                    }
                    .menu-link {
                        @extend %tplLinksStyles;
                    }
                }
            }
        }
    }
}

.intro__block
{
    width: 100%;
    height: 100%;
    &-container {
        width: 100%;
        height: 100%;
    }
    &-inner {
        width: 100%;
        height: 100%;
    }
    &-content {
        height: 100%;
        width: 100%;
        @include flexBox(none, none, column);
        .heading-container {
            width: 100%;
            h1 {
                line-height: auto;
                width: 100%;
                text-align: center;
                *:first-child {
                    @include mainTextStyle($textClrSpecial, uppercase, $ffTitle, $fs700, auto, 0.5vh);
                }
                *:last-child {
                    @include mainTextStyle($textClrMain, uppercase, $ffTitle, $fs1100, auto, 0.5vh); 
                }
            }
        }
        .text-container {
            margin-top: 4vh;
            width: 100%;
            @include flexBox(center,none,none);
            p {
                text-align: center;
                @include mainTextStyle($textClrMain, none, $ffContent, $fs700, auto, 0.1vh); 
            }
        }
    }
    &-button {
        height: 100%;
        @include flexBox(center, center, none);
        .large-button {
            position: relative;
            height: calc(12vh + 12vw);
            width: calc(12vh + 12vw);
            display: inline-grid;
            place-items: center;
            border-radius: 50%;
            transition: 1s ease-in-out;
            font-family: $ffSpecial;
            font-size: $fs700;
            color: $textClrMain;
            text-transform: uppercase;
            letter-spacing: 0.5vh;
            z-index: 100;
            animation: button-effect 2s ease-in-out infinite;
            &:hover {
                box-shadow: 0 -10px 400px, 0 0 2px, 0 0 1em #ff0000, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 0px 3px #000;
            }
        }
    }
}