@mixin flexBox($axisX, $axisY, $type) {
    display: flex;
    justify-content: $axisX;
    align-items: $axisY;
    flex-direction: $type;
}

@mixin mainTextStyle($clr, $transform, $fFamily, $fSize, $line-height, $space) 
{
    color: $clr;
    text-transform: $transform;
    font-family: $fFamily;
    font-size: $fSize;
    line-height: $line-height;
    letter-spacing: $space;   
}

%tplWrapper {
    max-width: 100%;
    height: 100%;
    padding: 0px 2vh;
}

%tplLinksStyles
{
    text-transform: uppercase;
    color: $textClrMain;
    font-size: $fs300;
    *:first-child 
    {
        font-family: $ffSpecial;
        letter-spacing: 0.2vh;
    }
    *:last-child 
    {
        margin-left: 0.5vw;
        font-family: $ffTitle;
        letter-spacing: 0.2vh;
    }
}