$fs100: calc(0.9vh + 0.3vw);
$fs200: calc(0.9vh + 0.4vw);
$fs300: calc(1vh + 0.4vw);

$fs400: calc(0.9vh + 0.5vw);
$fs500: calc(0.9vh + 0.55vw);
$fs600: calc(1vh + 0.6vw);

$fs700: calc(1.5vh + 1vw);
$fs800: calc(2vh + 1.3vw);

$fs900: calc(3.5vh + 1.7vw);
$fs1000: calc(4vh + 3vw);
$fs1100: 10vw;

$ffContent: 'Factor_A Medium', sans-serif ;
$ffHeadings: 'Barlow Semibold', sans-serif ;
$ffTitle: 'Bellefair', sans-serif ;