$fs100: calc(0.9vh + 0.3vw);
$fs200: calc(0.9vh + 0.4vw);
$fs300: calc(1vh + 0.4vw);

$fs400: calc(0.9vh + 0.5vw);
$fs500: calc(0.9vh + 0.55vw);
$fs600: calc(1vh + 0.6vw);

$fs700: calc(1.5vh + 1vw);
$fs800: calc(2vh + 1.3vw);

$fs900: calc(3.5vh + 1.7vw);
$fs1000: calc(4vh + 3vw);
$fs1100: 10vw;

$bgClrMain: hsl(230 35% 7%);
$bgClrSpecial: hsl(231 77% 90%);
$bgClrExtra: hsl(0 0% 100%);

$undrlineClr: hsl(0 0% 100% / .25);
$btnEffectClr: hsl(0 0% 100% / .15); 

$textClrMain: hsl(0 0% 100%);
$textClrSpecial: hsl(231 77% 90%);
$textClrExtra: hsl(230 35% 7%);

$ffContent: 'Factor_A Medium', sans-serif;
$ffHeadings: 'Barlow Semibold', sans-serif;
$ffSpecial: 'Barlow Bold', sans-serif;
$ffTitle: 'Bellefair', sans-serif;