*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.page__wrapper {
  min-height: 100%;
}

.header {
  width: 100%;
  height: 100%;
  z-index: 100;
  position: relative;
}

.main {
  width: 100%;
  height: 100%;
  z-index: 100;
  position: relative;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture {
  width: 100%;
  height: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "Factor_A Medium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url("../fonts/FactorAMedium-Regular.woff2") format("woff2"), url("../fonts/FactorAMedium-Regular.woff") format("woff");
}
@font-face {
  font-family: "Barlow Semibold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/barlow-v11-latin-700.woff2") format("woff2"), url("../fonts/barlow-v11-latin-700.woff") format("woff");
}
@font-face {
  font-family: "Barlow Bold";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""), url("../fonts/barlow-v11-latin-900.woff") format("woff2"), url("../fonts/barlow-v11-latin-900.woff") format("woff");
}
@font-face {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/Bellefair-Regular.woff2") format("woff2"), url("../fonts/Bellefair-Regular.woff2") format("woff");
}
.header__content-container {
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
  padding: 0px 2vw;
}

.header__content-menu .menu__body .menu__list .menu__list-item .menu-link {
  text-transform: uppercase;
  color: hsl(0deg, 0%, 100%);
  font-size: calc(0.8vh + 0.8vw);
}
.header__content-menu .menu__body .menu__list .menu__list-item .menu-link *:first-child {
  font-family: "Barlow Bold", sans-serif;
  letter-spacing: 0.2vh;
}
.header__content-menu .menu__body .menu__list .menu__list-item .menu-link *:last-child {
  margin-left: 0.5vw;
  font-family: "Bellefair", sans-serif;
  letter-spacing: 0.2vh;
}

@media (min-width: 768px) {
  .intro__block-inner {
    height: 100%;
    padding: 0px 2vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 80% 0px 1fr;
    grid-template-rows: 80% 1fr;
    gap: 0px 0px;
        grid-template-areas: ". ." "button content";
  }
  .intro__block-inner .intro__block-button {
    grid-area: button;
  }
  .intro__block-inner .intro__block-content {
    grid-area: content;
  }
}

@media (min-width: 768px) {
  .intro__block-inner .intro__block-button {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .intro__block-inner .intro__block-content {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}
@media (max-width: 767px) {
  .intro__block {
    margin-top: 10vh;
  }
  .intro__block-button {
    margin-top: 10vh;
  }
}
.home__page-wrapper {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
@media (min-width: 768px) {
  .home__page-wrapper {
    -webkit-animation: home-background-effect 40s ease-in-out infinite;
            animation: home-background-effect 40s ease-in-out infinite;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8))), -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7019607843))), url(../image/home/background-home-desktop.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7019607843)), url(../image/home/background-home-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (max-width: 768px) and (max-height: 700px) {
  .home__page-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8))), url(../image/home/background-home-mobile.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url(../image/home/background-home-mobile.jpg);
  }
}
@media (max-width: 768px) and (min-height: 701px) {
  .home__page-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url(../image/home/background-home-tablet.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../image/home/background-home-tablet.jpg);
  }
}

@-webkit-keyframes home-background-effect {}

@keyframes home-background-effect {}
@-webkit-keyframes button-effect {}
@keyframes button-effect {}
.header__content {
  width: 100%;
  height: 8vh;
}
.header__content-container {
  padding-top: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
}
.header__content-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
}
.header__content-logo .logo {
  display: block;
  height: calc(2vh + 2vw);
  width: calc(2vh + 2vw);
}
.header__content-menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
}
.header__content-menu .menu__body {
  height: 100%;
}
.header__content-menu .menu__body .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  height: 100%;
}
.header__content-menu .menu__body .menu__list > *:not(:last-child) {
  margin-right: 2vw;
}
.header__content-menu .menu__body .menu__list .menu__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  height: 100%;
  position: relative;
}
.header__content-menu .menu__body .menu__list .menu__list-item.inactive::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.3vh;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 0;
}
.header__content-menu .menu__body .menu__list .menu__list-item.inactive:hover::after {
  background: hsla(0deg, 0%, 100%, 0.25);
  opacity: 1;
}
.header__content-menu .menu__body .menu__list .menu__list-item.active {
  position: relative;
}
.header__content-menu .menu__body .menu__list .menu__list-item.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.3vh;
  background: hsl(0deg, 0%, 100%);
}
.intro__block {
  width: 100%;
  height: 100%;
}
.intro__block-container {
  width: 100%;
  height: 100%;
}
.intro__block-inner {
  width: 100%;
  height: 100%;
}
.intro__block-content {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.intro__block-content .heading-container {
  width: 100%;
}
.intro__block-content .heading-container h1 {
  line-height: auto;
  width: 100%;
  text-align: center;
}
.intro__block-content .heading-container h1 *:first-child {
  color: hsl(231deg, 77%, 90%);
  text-transform: uppercase;
  font-family: "Bellefair", sans-serif;
  font-size: calc(1.5vh + 1vw);
  line-height: auto;
  letter-spacing: 0.5vh;
}
.intro__block-content .heading-container h1 *:last-child {
  color: hsl(0deg, 0%, 100%);
  text-transform: uppercase;
  font-family: "Bellefair", sans-serif;
  font-size: 10vw;
  line-height: auto;
  letter-spacing: 0.5vh;
}
.intro__block-content .text-container {
  margin-top: 4vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
}
.intro__block-content .text-container p {
  text-align: center;
  color: hsl(0deg, 0%, 100%);
  text-transform: none;
  font-family: "Factor_A Medium", sans-serif;
  font-size: calc(1.5vh + 1vw);
  line-height: auto;
  letter-spacing: 0.1vh;
}
.intro__block-button {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
}
.intro__block-button .large-button {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5019607843)), color-stop(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5019607843))), url(../image/home/background-button.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5019607843), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5019607843)), url(../image/home/background-button.jpg);
  background-position: center;
  background-size: cover;
  height: calc(12vh + 12vw);
  width: calc(12vh + 12vw);
  display: -ms-inline-grid;
  display: inline-grid;
  place-items: center;
  border-radius: 50%;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  font-family: "Barlow Bold", sans-serif;
  font-size: calc(1.5vh + 1vw);
  color: hsl(0deg, 0%, 100%);
  text-transform: uppercase;
  letter-spacing: 0.5vh;
  -webkit-animation: button-effect 2s ease-in-out infinite;
          animation: button-effect 2s ease-in-out infinite;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}
.intro__block-button .large-button:hover {
  -webkit-box-shadow: 0 -10px 400px, 0 0 2px, 0 0 1em #ff0000, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 0px 3px #000;
          box-shadow: 0 -10px 400px, 0 0 2px, 0 0 1em #ff0000, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 0px 3px #000;
}